<div class="grid grid-cols-12 divide-x h-screen">


  <!-- List Persons Archived -->
  <div class="overflow-y-auto col-span-12">
    <table class="table table-compact w-full">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Dni</th>
          <th>Email</th>
          <th>Username</th>
          <th>Password</th>
          <th>Creado</th>
          <th>Modificado</th>
          <th>Estado</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!--Recorre cada parametry los muestra-->
        <tr *ngFor="let person of listPersonArchived">
          <td>
            {{ person.personId }}
          </td>
          <td>
            {{ person.name }}
          </td>
          <td>
            {{ person.dni }}
          </td>
          <td>
            {{ person.email }}
          </td>
          <td>
            {{ person.username }}
          </td>
          <td>
            {{ person.password }}
          </td>
          <td>
            {{ person.created | date: "yyyy/MM/dd" }}
          </td>
          <td>
            {{ person.updated | date: "yyyy/MM/dd" }}
          </td>
          <td>
            {{ person.enabled }}
          </td>
          <td>
            <!--Cambia formato-->
            <a href="person"><mat-icon
              class="cursor-pointer"
              (click)="restore(person)"
              >restore</mat-icon
            ></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

